<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img class="logo-forum" src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Hap.png"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="member" >members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="inscription">inscription</a>
            </li>
            
            <li *ngIf="!isLogged" class="nav-item">
                <a class="nav-link" routerLink="login">connexion</a>
            </li>
       
            
        </ul>
    </div>
  </nav>