<h1>Topics</h1>
<hr>
<div class="list-group">
        <button type="button" class="list-group-item list-group-item-action bg-warning"><img src="https://avenoel.org/images/thread2.png"> <strong>Dapibus ac facilisis in</strong><br>test</button>
        <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
        <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
</div>

<form class="editionZone" #writeTopic="ngForm" *ngIf="this.authService.isLogged()">
                <label>Titre</label><br>
                <input [(ngModel)]="topic.title" name="titre" type='text'> <br> <br>
                <textarea tabindex="3" rows="4" name="bodyCorp" [(ngModel)]="postOwner.messsage"></textarea>
                <br>
                <button (click) = "onSubmit()">Poster ou cancer</button>
                <div class="jumbotron">
                        <h1>{{topic.title}}</h1>
                        <hr>
                        <div [innerHTML]="postOwner.messsage | preEdit "></div>
                </div>
</form>

