.jumbotron{
    margin-top: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
.connectForm{
    text-align: center;
}

input{
    width: 100%;
}

.btn{
    margin-top: 2%;
}