<div class="jumbotron">
    <h1 class="display-4">Se connecter <img src="https://risibank.fr/cache/stickers/d717/71734-full.png"></h1>
    <hr class="my-4">
    <form #connexionForm="ngForm" (ngSubmit) = "onConnect(connexionForm)">
            <div class="connectForm">
                    <label>Pseudo:  </label> <br>
                    <input type="text"
                    ngModel
                    name="username"> <br>
                <label>Mot de passe:  </label> <br>
                <input type="password"
                ngModel
                name="password"> <br>
                <button class="btn btn-dark">submit</button>
            </div>
    </form>
    <hr class="my-4">
    <p>Mot de passe oublié</p>
</div>